@import models.room._
@(roomDataList: List[RoomData], page: Int, tag: String, order: String)

@main("home") {
@for(roomData <- roomDataList) {
    <button onclick="location.href='/room/@roomData.roomId'">@roomData.id @roomData.title</button>
}

<button onclick="location.href='/?page=@{page/3-1}&tag=@tag&order=@order'">next</button>
<button onclick="location.href='/?page=@{page/3+1}&tag=@tag&order=@order'">pre</button>

<form action="/room" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="tag" placeholder="tag">
    <input type="text" name="authUser" placeholder="auth users">
    <input type="text" name="contentType" placeholder="content type">
    <input type="submit" value="create room">
</form>
}
