@import models.room._
@(roomDataList: List[RoomData])

@main("home") {
@for(roomData <- roomDataList) {
    <button onclick="location.href='/room/@roomData.roomId'">@roomData.id</button>
}

<form action="/create_room" method="post">
    <input type="submit" value="create room">
</form>
<form action="/login" method="post">
    <input type="text" name="userId">
    <input type="password" name="password">
    <input type="submit">
</form>
<form action="/signup" method="post">
    <input type="text" name="userId">
    <input type="password" name="password">
    <input type="submit">
</form>
}
