@import models.posted._
@import models.user._
@(roomId: String, postedDataList: List[PostedData], tags: List[String])

@main("room") {
@for(postedData <- postedDataList) {
    @postedData match {
        case PostedText(UserData(id), text, createdTime) => {<h3>@id @text @createdTime</h3>}
        case PostedImage(UserData(id), img, createdTime) => {<img src="/getImage/@img?roomId=@roomId">}
    }
}
<form action="/post_text?roomId=@roomId" method="post">
    <input type="text" name="text">
    <input type="submit">
</form>
<form action="/post_image?roomId=@roomId" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit">
</form>
<h4>@tags.mkString(" ")</h4>
}
