@import models.posted._
@import models.user._
@import models.room._
@(roomData: RoomData, postedDataList: List[PostedData], tags: List[String], page: Int)

@main(roomData.title) {
@for(postedData <- postedDataList) {
    @postedData match {
        case PostedText(UserData(id), text, createdTime) => {<h3>@id @text @createdTime</h3>}
        case PostedImage(UserData(id), img, createdTime) => {<img src="/getImage/@img?roomId=@roomData.id">}
    }
}
<form action="/post_text?roomId=@roomData.roomId" method="post">
    <input type="text" name="text">
    <input type="submit">
</form>
<form action="/post_image?roomId=@roomData.roomId" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit">
</form>
<h4>@tags.mkString(" ")</h4>

<button onclick="location.href='/room/@roomData.roomId?page=@{page/3 - 1}'">next</button>
<button onclick="location.href='/room/@roomData.roomId?page=@{page/3 + 1}'">pre</button>
}
